@import 'styles/normalize';
@import 'styles/palette';
@import 'styles/footer';
@import 'styles/header';
@import 'styles/home';

html {
    font-family: 'Karla', sans-serif;
    background: $white;
    color: $fontColor;
}

.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-to {
	opacity: 0;
}

.content-container {
	 max-width: 1600px;
	 margin: 0 auto;
	 width: 100%;
	 padding: 10px;
	 display: block;
}