.resume .description {
	ul li {
		margin-bottom: 5px;
	}
}

.home-hero {
	height: 500px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;

	.image {
		width: 100%;
		position: absolute;
		z-index: 1;
		
		img {
			width: 100%;
			display: block;
			filter: blur(3px);
		}
		&:before {
			z-index: 2;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, .8);
			
		}
	}
	

	.text {
		text-align: center;
		position: relative;
		z-index: 2;
		color: #fff;
		h1 {
			span {
				font-weight: 900;
				font-size: 2em;
			}
			color: #fff;
			font-weight: 200;
			margin: 0;
			line-height: 1.1;
			font-size: 1.2em;
		}
		p {
			max-width: 700px;
			margin: 20px auto 0;
			display: block;
			line-height: 1.5;
		}
	}
}

.skills {
	@include siteWidth;
	padding: 10px;
	h2 {
		position: relative;
		display: block;
		&::after{
			content: '';
			height: 1px;
			border-bottom: 1px dotted #c2c2c2;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -10px;
		}
	}
	.info {
		display: flex;
		.left {
			width: 50%;
		}
		.right{
			width: 50%;
		}
	}
}

.home-below-fold {
	@include siteWidth;
	display: flex;
	padding: 10px;
	>div {
		width: 50%;
	}
}