.home-hero {
	height: 500px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;

	.image {
		width: 100%;
		position: absolute;
		z-index: 1;
		
		img {
			width: 100%;
			display: block;
			filter: blur(3px);
		}
		&:before {
			z-index: 2;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, .8);
			
		}
	}
	

	.text {
		text-align: center;
		position: relative;
		z-index: 2;
		color: #fff;
		h1,h2 {
			margin: 0;
			line-height: 1;
		}
		h1 {
			text-transform: uppercase;
		}
		h2 {
			font-weight: normal;
		}
	}
}

.home-below-fold {
	@include siteWidth;
}