$color1: rgba(114, 158, 161, 1);
$white: rgba(255, 255, 252, 1);
$color3: rgba(186, 203, 169, 1);
$color4: rgba(126, 141, 133, 1);
$dark: rgba(19, 42, 19, 1);
$fontColor: rgb(105, 105, 105);

h1, h2, h3, h4, h5, h6 {
    color: #000;
}