.single-post{
	@include siteWidth;
	padding: 10px;
	position: relative;
	min-height: 100px;
	&::before {
		content: '';
	}
	
	.post-content {
		visibility: hidden;
		opacity: 0;
		transform: scale(1) translateY(-5px);
		transition: 0.75s all;
	}
	&.loaded {
		.post-content {
			visibility: visible;
			opacity: 1;
			transform: scale(1) translateY(0);
		}
		.loader {
			display: none;
		}
	}
	
	  
}